body {
    background-color: lightblue;
    margin: 0px;
}

#mititulo {
    border: 10px solid black;
}

#otroH1 {
    color: gray;
}

div {
    border: 1px solid red;
}

p {
    border: 1px solid green;
    margin: 20px;
    padding: 40px;
}

.enlace {
    color: rgb(255, 113, 137);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    font-size: 26px;
}

.otraClase {
    font-size: 36px;
    font-weight: bold;
}
